{{define "title"}}Downloads - BeamStat{{end}}
{{define "content"}}
<div class="col-md-12">
    <div class="panel panel-default">
        <h4 class="panel-heading">Downloads</h4>
        <div class="panel-body">
            <p><b>Bitmessage</b></p>
            <p>
                <a href="https://github.com/mailchuck/PyBitmessage/releases">Mailchuck (recommended)</a>
            </p>
            <p>
                <a href="https://bitmessage.org/wiki/Main_Page">Original</a>
            </p>
            <p>
                <a href="https://github.com/mirrorwish/hyperbit">HyperBit</a>
            </p>
            <p><b>Data</b></p>
            <p>
                <a href="/download/objects.php">Object metadata in JSON (More than 50 MB)</a>
            </p>
        </div>
    </div>
</div>
{{end}}
